<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
 		"http://www.hibernate.org/dtd/hibernate-configuration">

<hibernate-configuration>

	<session-factory>

		<!-- Configurações de conexão com o Banco de Dados -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/db_farmacia</property>
		<property name="connection.username">root</property>
		<property name="connection.password">root</property>

		<!-- POOL de conexões JDBC -->
		<property name="connection.pool_size">1</property>

		<!-- Dialeto SQL -->
		<property name="dialect">org.hibernate.dialect.MySQL5InnoDBDialect</property>

		<!-- Gerenciamento da sessão -->
		<property name="current_session_context_class">thread</property>

		<!-- Desabilita o cache -->
		<property name="cache.provider_class">org.hibernate.cache.internal.NoCacheProvider</property>

		<!-- Exibe os comandos SQL -->
		<property name="show_sql">true</property>

		<!-- Cria as tabelas -->
		<property name="hbm2ddl.auto">update</property>

	</session-factory>

</hibernate-configuration>